.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.rounded-border {
    border: 1px #e1e4e6 solid;
}

.ck-content {
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}

.user-info {
    background-color: #f9f9f9;
    padding-top: 20px;
    padding-bottom: 40px;
}

.user-info img {
    margin-bottom: 30px;
}

.comment-portrait {
    width: 45px;
    height: auto;
}

.editor {
    padding-left: 0;
    padding-right: 0;
}

.editor .ck-content {
    min-width: 100%;
    min-height: 300px;
    max-height: 300px;
}