* {
    margin: 0;
    padding: 0;
}


.content-left {
    background-color: whitesmoke;
    width: 22%;
    float: left;
    height: 680px;
}

.content-left button {
    width: 250px;
    height: 40px;
    margin-left: 35px;
}

.nav {
    margin-top: 20px;
}

.content-right li {
    width: 250px;
    text-align: center;
}

.avatar {
    margin: 35px auto;
    background-color: white;
    height: 250px;
    width: 250px;
}

.content-right {
    width: 78%;
    float: left;
}

.show {
    overflow-y: scroll;
    background-color: ghostwhite;
    margin-top: 30px;
    margin-left: 9%;
    width: 85%;
    height: 480px;
}

.show2 {
    background-color: ghostwhite;
    margin-top: 30px;
    margin-left: 10%;
    width: 80%;
    height: 480px;
    font-size: 40px;
    algin: center;
}

.show2 form {
    margin-left: 20%;
    width: 1200px;
    margin-bottom: 20px;
    margin-top: 30px;
    float: left;
}

.tab-pane nav {
    margin-left: 40%;
}

.form-group button {
    width: 100px;
    margin-right: 70px;
    margin-top: 20px;
    float: right;
    height: 30px;
}