* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100%;
    float: left;
}

.content {

}

.content-left {
    width: 320px;
    height: 100%;
    border: 1px red solid;
    float: left;
}

.nav {
    margin-top: 50px;
}

.content-right li {
    width: 250px;
    text-align: center;
}

.avatar {
    margin: 50 auto;
    border: 1px red solid;
    height: 250px;
    width: 250px;
}

.content-right {
    width: 1199px;
    height: 100%;
    border: 1px red solid;
    float: left;
}