* {
    margin: 0;
    padding: 0;
}

.nav {
    filter: alpha(Opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
    background-color: black;
}

.nav p {
    font-size: large;
    font-family: 华文新魏;
    margin-top: 15px;
    margin-left: 300px;
    float: left;
    text-align: center;
    color: white;
}

.nav ul {
    width: 1520px;
    height: auto;
    padding: 0;
    list-style: none;
}

.nav li {
    font-family: 华文宋体;
    line-height: 50px;
    float: right;
    text-align: center;
}

.nav a {
    color: white;
    width: 100px;
    display: block;
    text-decoration: none;
}

.nav ul li a:hover {
    display: block;
    background-color: #eeeeee;
}

.main {
    background: url(/static/img/user_img/u1.jpg) no-repeat;
    background-size: cover;
    float: left;
}

.header {
    height: 120px;
    width: 100%;
    float: left;
}

.header h1 {
    margin-top: 20px;
    margin-left: 20%;
    font-family: 华文行楷;
    font-size: 60px;
}

.header p {
    margin-left: 23%;
    font-family: 华文行楷;
    font-size: 30px;
}

.centers {
    height: 450px;
    width: 100%;
    float: left;
}

.centers form {
    margin-left: 400px;
    margin-right: 450px;
}

.bottom {
    filter: alpha(Opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
    padding: 20px;
    background-color: black;
    height: 110px;
    width: 100%;
    float: left;
    color: white;
}

.form-group input {
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 55px;
    width: 80%;
}

.btn-group {
    margin-left: 15%;
    margin-top: 5px;
}

.btn-group button {
    color: white;
    font-family: "微软雅黑 Light";
    font-size: 25px;
}

.btn {
    width: 350px;
    height: 50px;
}

.form-group span {
    font-family: "微软雅黑 Light";
    margin-left: 10px;
    font-size: 15px;
    letter-spacing: 3px;

}

